$board-size: 360px;
$square-size: $board-size/3 - 2;

.squares {
  width: $board-size;
  .square {
    width: $square-size;
    height: $square-size;
    float: left;
    font-size: 100px;
    line-height: 1;
    padding: 2px 10px;
    text-align: center;
    &:nth-child(even), &:nth-child(5) {
      border: 5px solid #00695c;
    }
    &:nth-child(2), &:nth-child(8) {
      border-top: none;
      border-bottom: none;
    }
    &:nth-child(4), &:nth-child(6) {
      border-right: none;
      border-left: none;
    }
    &.x {
      @extend .teal-text, .text-lighten-3;
    }
    &.o {
      @extend .teal-text, .text-darken-4;
    }
  }
}